{{> nav}}
<section id="viewRegister">
    <h2>Create your account:</h2>
{{> registerForm}}
</section>
<section id="viewLogin">
    <h2>Login to your account:</h2>
    {{> loginForm}}
</section>
{{> footer}}